*{
    padding: 0 ;
    margin:  0 ;
    box-sizing: border-box ;

}
/*navbar*/
.navbar {

    display: flex;
    justify-content:center;
    align-items:center ;
    position: sticky;
    
    
}
.navbar ul {
    display: flex;
    list-style: none ;
    margin: 20px 0px ;

}
.navbar ul li {
    font-family: century ;
    font-style: normal;
    font-weight: bold ;
    font-size: 1.3rem;
}
.navbar ul li a {
    text-decoration: none;
    color: black ;
    padding: 10px 50px ;
    transition: all .5s ease ;
    
}

.navbar ul li a:hover {
    background-color:rgb(172, 129, 129) ;
    color: black;
    box-shadow: 0 0 5px white;
}
/*sections*/
/*Home*/
#home {
    display:flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    font-family: century  ;
    font-size:large;
    font-weight: bold ; 
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    height: 840px;
    
}

#home::before {
        content: "";
        position: absolute;
        top : 0 ;
        right: 0;
        background:url('Bckg3.jpg') no-repeat center center/cover ;
        height: 950px;
        width: 100%;
        z-index: -1;
        opacity: .9;
        
}

.main{
        
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items:center;
        top: 50%;
        right: 15%;   
}
.heading{
    font-size: 5rem;
    font-family: century;
    text-align: center;
    margin: 40px 0px ;
    font-weight: lighter;
    color:black ;

}

.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px ;
    font-weight: lighter;
}
.H { font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px ;
    font-weight: lighter;
    color: rgb(172, 129, 129);
}

/*Aboutme section */
#aboutme {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    background:url('Bckg31.jpg') no-repeat center center/cover ;
    align-items: center;
    
   
    
}

    
#pic img {
    width: 350px;
    height: 400px;
    border-radius: 15px;
    
}
#introduction {
    display: flex;
    flex-direction: column;
    text-align:center;
    padding: 20px;
    border: 1px solid black;
    background-color: rgb(172, 129, 129);
    border-radius: 15px;
    width: 600px;
    height: 300px;
    
    }
    
#introduction h2 {
    font-size: 2rem;
    background-color: rgb(172, 129, 129);
    font-family: century;
}


/*Projects section */
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black ;
    padding: 20px ;
    background:url('Bckg31.jpg') no-repeat center center/cover ;
    
}
.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
    background-color: rgb(172, 129, 129);
    border: 1px solid black;
    box-shadow: 0 0 5px white;
    
}
.photos img {
    width:320px;
    height: 320px; 
    margin: 20px;
    border: 1px solid black;
    border-radius: 15px;
    
}

#skills {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background:url('Bckg31.jpg') no-repeat center center/cover ;
    
    

}
.srvc {
    display: flex;
    background-color:rgb(172, 129, 129) ;
    justify-content: space-around;
    justify-content: space-between;
    background-color: rgb(172, 129, 129);
    border: 1px solid black;
    box-shadow: 0 0 5px white;
    box-sizing: border-box;
    flex-wrap: wrap;
    
     
}
.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px ;
    border-radius: 15px;
    background: linear-gradient(to top , rgb(194, 129, 129) 50%, white 50% );
    background-size: 100% 200%;
    transition: all .6s;
    


}
.box:hover{
    background-position: left bottom;
    box-shadow: 0 0 20px  white ;
    
    
}
.box img {
    height:80px ;
    width: 80px;
   
}
#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: black;
    background:url('Bckg31.jpg') no-repeat center center/cover ;
    padding: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: 20px;
}
.input{
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    border-color:rgb(194, 129, 129) ;
    width: 30%;
}
#msg {
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    border-color:rgb(194, 129, 129) ;
    width: 30%;
    border-width: 2px;
}
#send{
    padding: 10px 30px;
    background-color: transparent;
    border: 1px solid rgb(172, 129, 129);
    color : black ;
    outline: none;
    transition: all .6s ease;
    font-weight: bold ;
    border-radius: 15px;
    
}
#send:hover{
    background-color:rgb(172, 129, 129) ;
    color: black;
    box-shadow: 0 0 5px white;
    font-weight: bold ;


}
.footer_content {

    background-color: rgb(172, 129, 129) ;
    font-family: century;
    padding:10px 0px 25px 0px ;
    text-align: center;
    color: black;
}
.social{
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 1rem 0 3rem 0 ;
    list-style: none;
}
.social li {
    margin: 0 10px;
   
}
.social a {
    text-decoration: none;
    color: black;
}
.social a i {
    font-size: 1.5rem;
}
.social a:hover{
    background-color:rgb(172, 129, 129) ;
    color: black;
    text-shadow: 0 0 5px white;
    font-weight: bold ;
}