/*navbar*/
.navbar ul  {
    flex-wrap: wrap;
    justify-content: center;
}
/*home*/
.main {
position: fixed;
}
/*headings*/
.headings {
    font-size: 2.5rem;
}

/* contactme */
#input{
    width: 60%;
}
#msg {
    width: 55%;
}
#send{
    width: 50%;
}